<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>387656912618-u39c70vq53tplkdlscc486lvu6sat65k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387656912618-u39c70vq53tplkdlscc486lvu6sat65k</string>
	<key>API_KEY</key>
	<string>AIzaSyCmc0d7L6ya-MW0WUz8_vzDmSJazgcE33E</string>
	<key>GCM_SENDER_ID</key>
	<string>387656912618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gunnarhemmeryckx.LaFonderie</string>
	<key>PROJECT_ID</key>
	<string>la-fonderie-app</string>
	<key>STORAGE_BUCKET</key>
	<string>la-fonderie-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387656912618:ios:a44a7a7c559370aa</string>
	<key>DATABASE_URL</key>
	<string>https://la-fonderie-app.firebaseio.com</string>
</dict>
</plist>